<ion-view view-title="Dashboard" name="dashboard-view">
  <ion-nav-buttons side="right">{{username}}
    <a class="button button-icon icon ion-power" ng-click="logout()"></a>
  </ion-nav-buttons>

  <ion-content class="padding">
    <div class="row"><div class="col text-center">
	  <h3 class="title"> Welcome to manthan Art School</h3>
      This could be your Dashboard.
      <br/><br/><br/>
      <button class="button button-full button-positive" ng-click="performValidRequest()">
        Payments
      </button>
      <button class="button button-full button-energized" ng-click="performUnauthorizedRequest()">
        Sessions
      </button>
      <button class="button button-full button-assertive" ng-click="performInvalidRequest()">
        Queries
      </button>
      <br/><br/>
    {{response}}
    </div></div>
  </ion-content>
</ion-view>
