 <ion-view view-title="Masters" name="masters-view">
  <ion-content class="padding">
  <div class="row"><div class="col text-center">
	  <h3 class="title"> Welcome to manthan Art School</h3>
      Masters
      <br/><br/><br/>
    <div class="row"><div class="col text-center">
      <button class="button icon-left ion-clipboard button-positive" ng-click="listcenter()">
        Centers
      </button>
      <button class="button icon-left ion-easel button-energized" ng-click="performUnauthorizedRequest()">
        Courses
      </button>
      <button class="button icon-left ion-compass button-assertive " ng-click="performInvalidRequest()">
        Batches
      </button>
	   <button class="button icon-left ion-person-stalker button-assertive" ng-click="performInvalidRequest()">
        Faculty
      </button>
      <br/><br/>
    <!--  {{response}}-->
    </div></div> </div></div>
  </ion-content>
</ion-view>

